<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - AutoRated</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css" integrity="sha512-rQgMaFKZKIoTKfYInSVMH1dSM68mmPYshaohG8pK17b+guRbSiMl9dDbd3Sd96voXZeGerRIFFr2ewIiusEUgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

    <body>
        <!--Add a nav bar here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">
                        <span style="font-family: Poppins; font-weight: 500; letter-spacing: 2px;">AUTORATED</span>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-link" href="{% url 'djangoapp:index' %}">Home</a></li>
                    <li><a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a></li>
                    <li><a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container page-title">
            <h2>Contact Us</h2>
            <p>We would love to hear from you. Please reach out to us through any of our channels below.</p>

            <div class="row page-title">
                <div class="col-4 text-center about-card-col">
                    <div class="col-12 contact-card">
                        <h3>Mail/Phone</h3>
                        <p>646-487-3274<br>
                        4834 Elm Drive, New York, 10016</p>
                    </div>
                </div>
                <div class="col-4 text-center about-card-col">
                    <div class="col-12 contact-card">
                        <h3>Email</h3>
                        <p>autorated@fakeemail.com</p>
                    </div>
                </div>
                <div class="col-4 text-center about-card-col">
                    <div class="col-12 contact-card">
                        <h3>Social Media</h3>
                        <a href="#"><span class="fab fa-facebook"></span> Facebook<br></a>
                        <a href="#"><span class="fab fa-instagram"></span> Instagram<br></a>
                        <a href="#"><span class="fab fa-tiktok"></span> TikTok</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>